@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: 'Mulish',sans-serif; }
  *:focus {
    outline: none; }

body {
  background-color: #EBEEF2;
  padding: 20px; }

.component--pricing {
  max-width: 920px;
  margin: 0 auto; }
  .component--pricing .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px; }
    .component--pricing .title h3 {
      font-style: normal;
      font-weight: 900;
      font-size: 42px;
      line-height: 53px; }
    .component--pricing .title label {
      width: 212px;
      height: 50px;
      background-color: #D4D9E0;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1; }
      .component--pricing .title label span {
        width: 100px;
        height: 40px;
        display: grid;
        place-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #171922;
        cursor: pointer; }
        .component--pricing .title label span::before {
          content: '';
          width: 100px;
          height: 40px;
          background-color: #fff;
          border-radius: 25px;
          box-shadow: 0px 15px 13px -12px rgba(134, 147, 164, 0.739565);
          position: absolute;
          top: 5px;
          left: 5px;
          z-index: -1;
          transition: 400ms left ease-in-out; }
  .component--pricing .packages {
    display: flex;
    margin: 0 -40px; }
    .component--pricing .packages .package {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 40px;
      background-color: #fff;
      padding: 45px;
      position: relative;
      transition: 400ms box-shadow ease-in-out; }
      .component--pricing .packages .package:hover {
        box-shadow: 0 19px 50px -20px rgba(134, 147, 164, 0.74); }
        .component--pricing .packages .package:hover .button {
          background-color: #171922;
          color: #fff; }
      .component--pricing .packages .package h6 {
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;
        color: #171922;
        margin-bottom: 35px; }
      .component--pricing .packages .package .price-info {
        margin-bottom: 30px; }
        .component--pricing .packages .package .price-info .title {
          font-weight: bold;
          font-size: 22px;
          line-height: 28px;
          color: #171922;
          margin-bottom: 10px; }
          .component--pricing .packages .package .price-info .title span::before {
            content: attr(data-monthly-price); }
        .component--pricing .packages .package .price-info .description {
          font-weight: bold;
          font-size: 18px;
          line-height: 23px;
          color: #171922;
          opacity: .71; }
          .component--pricing .packages .package .price-info .description span::before {
            content: attr(data-monthly-text); }
      .component--pricing .packages .package p {
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        color: #171922;
        opacity: .71;
        margin-bottom: 35px; }
      .component--pricing .packages .package .button {
        width: 100%;
        padding: 1rem;
        margin-top: auto;
        display: grid;
        place-items: center;
        border: 1px solid #171922;
        border-radius: 5px;
        background-color: white;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: #171922;
        transition: 400ms background-color ease-in-out, 400ms color ease-in-out; }
  .component--pricing #price-switch {
    display: none; }
    .component--pricing #price-switch:checked + .title span::before {
      left: 105px; }
    .component--pricing #price-switch:checked + .title + .packages .package .price-info .title span::before {
      content: attr(data-yearly-price); }
    .component--pricing #price-switch:checked + .title + .packages .package .price-info .description span::before {
      content: attr(data-yearly-text); }
